# --- DATA PREPARATION ---
pandas
numpy
pyarrow
datasets

# --- MACHINE LEARNING & FORECASTING ---
mlforecast
window-ops
scikit-learn
lightgbm

# --- MODEL SERVING & REST API ---
fastapi
pydantic
uvicorn[standard]

# --- UTILS ---
pyyaml
joblib
